/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

main {
  padding: 20px;
}

.gallery-grid,
.works-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.pagination a {
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 15px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.pagination a.page-number {
  color: #333;
}

.pagination a.active {
  background-color: orange;
  color: white;
  border-color: orange;
}

.pagination a:hover {
  background-color: orange;
  color: white;
}

.pagination .next-page {
  font-size: 16px;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #ddd;
  color: #000;
  display: inline-block;
  border-radius: 6px;
}

.pagination .next-page:hover {
  background-color: orange;
  color: white;
  border-color: orange;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
}
